body {text-align: justify; overflow-x: hidden;}

.project-author, .project-date{ opacity: 1; }
.page-header{ color: inherit; background-color: inherit; background-image: none; }

h1, h2, h3, h4, h5, h6 { color: #0a4d7d !important;}
table th { background-color: #0a4d7d !important;}

pre{ overflow-x: hidden !important;}
code #code { font-weight: bold} 

code{ white-space: pre-wrap !important;}

ul {list-style: decimal; color: #0a4d7d;}
ul ul {list-style: lower-alpha;}

thead {display: table-header-group;}
tr {page-break-inside: avoid;}